pillow
svgwrite
qrcode
qrcode[pil]
flask
flask_sqlalchemy
flask_login
cairosvg
requests
itsdangerous
wtforms
flask_wtf
flask_migrate
email_validator
pytest
pytest-flask
pytest-cov
black
flake8
isort
mypy
typing-extensions
gunicorn
celery
redis
sqlalchemy_utils
python-dotenv
